@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif; }

body {
  background-color: white;
  height: 1000px; }

a {
  text-decoration: none;
  color: white; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.header {
  position: sticky;
  z-index: 20;
  display: grid;
  top: 1px;
  height: auto;
  background-color: #073B4C;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tittle nav nav"; }
  .header__tittle {
    grid-area: tittle;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 4rem;
    text-align: left;
    margin-left: 30px;
    align-self: center;
    animation-name: appear;
    animation-duration: 0.5s; }

.hamMenu {
  background-color: DodgerBlue;
  /* Blue background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 12px 16px;
  /* Some padding */
  font-size: 16px;
  /* Set a font size */
  height: 50px;
  width: 50px;
  grid-area: nav;
  display: none;
  align-self: center;
  justify-self: end;
  margin-right: 70px;
  visibility: hidden; }

.nav {
  align-self: center; }
  .nav__ul {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 0;
    /*Para que toda la lista tenga el mismo tamaño y no cuente la viñeta */ }
  .nav__li {
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: appear;
    animation-duration: 1s; }
  .nav__a {
    color: white; }

@media only screen and (max-width: 900px) {
  .nav {
    display: none; }
  .hamMenu {
    display: block;
    visibility: visible; }
  .nav__ul {
    flex-direction: column;
    align-items: flex-end;
    float: left; } }

.carrousel {
  text-align: center;
  position: relative; }

.carrousel__image1 {
  width: 100%;
  height: auto; }

.typewritter {
  position: absolute;
  bottom: 300px;
  text-align: left;
  margin-left: 50px;
  font-size: 4rem;
  color: white;
  background-color: black; }

.secondMainTittle {
  color: #1A5974;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 4rem;
  text-align: center; }

.clientIntroContainer {
  width: auto;
  text-align: center; }

.clientIntro {
  text-align: center;
  font-size: 1.5rem; }

.footerRights {
  color: white;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 40px; }

#articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center; }

@media only screen and (max-width: 768px) {
  #articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center; } }

.article {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  margin-top: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
  width: 400px;
  height: 500px;
  background-color: #06D6A0;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .article:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), 0 12px 20px rgba(0, 0, 0, 0.3); }
  .article__tittle {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    text-align: center; }
  .article__text {
    font-size: 1.5rem;
    text-align: justify;
    color: white; }
  .article__button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    justify-self: flex-end; }

.testimonial-quote {
  font-size: 16px; }

.testimonial-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: gray;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 15; }

.testimonial-quote blockquote * {
  box-sizing: border-box; }

.testimonial-quote blockquote p {
  color: #75808a;
  line-height: 1.4 !important; }

.testimonial-quote blockquote p:first-child:before {
  content: '\201C';
  color: #A1CF6B;
  font-size: 7.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: -.2em;
  text-shadow: none;
  z-index: -300; }

.testimonial-quote img {
  border: 3px solid #A1CF6B;
  border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: -.2em;
  left: 0; }

.testimonial-quote cite {
  color: gray;
  display: block;
  font-size: .8em; }

.testimonial-quote cite span {
  color: #5e5e5e;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white; }

.testimonial-quote {
  position: relative; }

.testimonial-quote .quote-container {
  padding-left: 160px; }

.testimonial-quote.right .quote-container {
  padding-left: 0;
  padding-right: 160px; }

.testimonial-quote.right img {
  left: auto;
  right: 0; }

.testimonial-quote.right cite {
  text-align: right; }

.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%; }
  .background:after {
    content: '';
    background: #60a9ff;
    background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
    background: -webkit-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
    background: linear-gradient(to bottom, #60a9ff 0%, #4394f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px; } }

.container {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%; }

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10; }

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column; }

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row; } }

.pricing-table * {
  text-align: center;
  text-transform: uppercase; }

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px; }
  .pricing-plan:last-child {
    border-bottom: none; }

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px; }
    .pricing-plan:last-child {
      border-right: none; } }

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%; }

.pricing-header {
  color: #888;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  letter-spacing: 1px; }

.pricing-features {
  color: #A1CF6B;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px; }

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0; }
  .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff; }

.pricing-price {
  color: #A1CF6B;
  display: block;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-weight: 700; }

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out; }
  .pricing-button:hover, .pricing-button:focus {
    background-color: #e1f1ff; }

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff; }
  .pricing-button.is-featured:hover, .pricing-button.is-featured:active {
    background-color: #269aff; }

.footer {
  position: relative;
  background-color: #073B4C;
  width: auto;
  text-align: center;
  height: 98px; }

.text-black {
  font-size: 2rem; }

.center {
  margin-left: auto;
  margin-right: auto; }

.cd-testimonials-wrapper, .cd-testimonials-wrapper * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.cd-testimonials-wrapper ul {
  list-style: none; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.cd-testimonials-wrapper {
  position: relative;
  width: 90%;
  max-width: 768px;
  background-color: #39393c;
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px 70px;
  z-index: 1; }

.cd-testimonials-wrapper::after {
  /* quotation mark */
  content: '\201C';
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  margin-left: -25px;
  background: rgba(32, 32, 34, 0.9);
  font-family: "Georgia", serif;
  color: white;
  font-size: 70px;
  font-size: 4.375rem;
  text-align: center;
  /* visible on big devices only */
  display: none; }

@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin: 4em auto;
    padding: 64px 50px 114px; } }

@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block; } }

.cd-testimonials {
  color: white;
  text-align: center; }

.cd-testimonials:after {
  content: "";
  display: table;
  clear: both; }

.cd-testimonials > li {
  position: absolute;
  opacity: 0; }

.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1; }

.cd-testimonials p {
  font-family: "Georgia", serif;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0 14px; }

@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem; } }

@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.6; } }

.cd-author img, .cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle; }

.cd-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }

.cd-author .cd-author-info {
  text-align: left;
  line-height: 1.2; }

.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem; }

.cd-author .cd-author-info li:last-child {
  font-size: 12px;
  font-size: 0.75rem;
  color: #6b6b70; }

@media only screen and (min-width: 768px) {
  .cd-author img {
    width: 50px;
    height: 50px; }
  .cd-author .cd-author-info {
    line-height: 1.4; }
  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
    font-size: 1rem; }
  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
    font-size: 0.875rem; } }

.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0; }

.flex-direction-nav li:first-child {
  left: 0; }

.flex-direction-nav li:last-child {
  right: 0; }

.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.flex-direction-nav li:hover {
  background-color: #323234; }

.no-touch .flex-direction-nav li a:hover {
  background-color: #323234; }

.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: white; }

.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg); }

.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg); }

.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg); }

.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg); }

@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px; } }

@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    background-color: #5e5e63;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s; }
  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: white; } }

.cd-see-all {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #252527;
  text-align: center;
  text-transform: uppercase;
  color: #6b6b70;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  transition: color, 0.2s; }

.no-touch .cd-see-all:hover {
  color: #79b6e4; }

.cd-testimonials-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }

.cd-testimonials-all .cd-testimonials-all-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.cd-testimonials-all .cd-testimonials-all-wrapper > ul {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto; }

.cd-testimonials-all .cd-testimonials-all-wrapper > ul:after {
  content: "";
  display: table;
  clear: both; }

.cd-testimonials-all .cd-testimonials-item {
  margin-bottom: 2em;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0) scale(0.4);
  -moz-transform: translate3d(0, 0, 0) scale(0.4);
  -ms-transform: translate3d(0, 0, 0) scale(0.4);
  -o-transform: translate3d(0, 0, 0) scale(0.4);
  transform: translate3d(0, 0, 0) scale(0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -moz-transition: -moz-transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s; }

.cd-testimonials-all p {
  position: relative;
  background: #79b6e4;
  color: white;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  border-radius: 0.25em;
  margin-bottom: 1em; }

.cd-testimonials-all p::after {
  /* creating the triangle in css */
  content: '';
  position: absolute;
  top: 100%;
  left: 2em;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: #79b6e4; }

.cd-testimonials-all .cd-author {
  text-align: left;
  margin-left: 1.5em; }

.cd-testimonials-all .cd-author img {
  box-shadow: 0 0 0 transparent; }

.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-testimonials-all.is-visible .cd-testimonials-item {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

@media only screen and (min-width: 768px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 46%;
    margin: 0 2% 3em; }
  .cd-testimonials-all .cd-author {
    margin-left: 1em; } }

@media only screen and (min-width: 1170px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 30%;
    margin: 0 1.6666% 3em; } }

.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 5%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c; }

.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.cd-light.cd-testimonials-wrapper {
  background: #fff; }

.cd-light.cd-testimonials-wrapper::after {
  color: rgba(32, 32, 34, 0.9);
  background: #f0f0f0; }

.cd-light .cd-testimonials {
  color: #39393c; }

.cd-light .flex-direction-nav li a::before, .cd-light .flex-direction-nav li a::after {
  background-color: #39393c; }

.cd-light .flex-direction-nav li:hover {
  background: #eee; }

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto; }
  form input, form textarea {
    border: 1;
    outline: 0;
    border-radius: 1px;
    padding: 1em;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    resize: none; }
  form #input-submit {
    color: white;
    background: #A1CF6B;
    cursor: pointer; }
  form textarea {
    height: 126px; }

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em; }

.right {
  width: 50%; }

.left {
  margin-right: 2%; }

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0; } }

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }
